@font-face {
    font-family: 'Wemakeprice-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Wemakeprice-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.layout{
	margin: 60px;
}

.box{
	margin: auto;
 	width: 300px;
  	height: 100px;
 	border: 10px solid #c0c0c0;
  	border-radius: 10px;
  	background-color: white;
  	box-shadow: 3px 3px 4px 3px grey;
}

.img{
	width: 200px;
	height: 150px;
  	overflow: auto;
}

.minibox{
	margin: 10px auto;
	width: 200px;
}

.inputText{
	width: 190px;
	height: 20px;
	border: 5px solid #c0c0c0;
  	border-radius: 10px;
  	box-shadow: 3px 3px 4px 3px grey;
  	font-family: 'Wemakeprice-Regular';
}

.textBox{
	margin: 30px auto;
	width: 150px;
	display: flex;
	flex-direction: row;
}

#btn{
	margin: 0px 0px 0px 10px;
	width: 100px;
	height: 30px;
	background-color: #c0c0c0;
	border: 0px;
	border-radius: 20px;
	font-family: 'Wemakeprice-Regular';
	box-shadow: 2px 2px 3px 2px grey; 
}

#btn:active{
	margin: 2px 0px 0px 12px;
	box-shadow: none;
	font-family: 'Wemakeprice-Regular';
}

#btn:active + button{
	margin: 0px -5px 0px 6px;
}

#hbtn{
	margin: 0px -5px 0px 8px;
	width: 30px;
	height: 30px;
	border: 0px;
	border-radius: 15px;
	background-color: black;
	color: white;
	box-shadow: 1px 1px 2px 1px grey; 
}

#hbtn:active{
	margin: 1px -5px 0px 9px;
	box-shadow: none;
	font-family: 'Wemakeprice-Regular';
}

#help{
	margin: auto;
	padding: 10px;
	width: 250px;
	background-color: #Fafad2;
	border-radius: 20px;
	display: none;
}

h2{
	margin: 13px 10px;
	padding: 10px;
	font-family: 'Wemakeprice-Regular';
  	text-align: center;
}

h4{
	margin: 5px;
	font-family: 'Wemakeprice-Regular';
}

body{
	background-color: white;
}